<div class="container d-flex mt-5">
    <div>
        <%= render "shared/index_button" %>
        <div class="index_container bg-white text-dark">
            <div class="d-flex">
                <% if logged_in? %>
                    <div>
                        <%= link_to new_article_path, class: "insert_button" do%>
                                <div class="btn btn-info mt-2 ml-3">投稿する</div>
                        <% end %>
                    </div>
                <% else %>
                    <div>
                        <%= link_to login_path, class: "insert_button" do%>
                                <div class="btn btn-info mt-2 ml-3">ログインして投稿する</div>
                        <% end %>
                    </div>
                <% end %>
                <div class="search">
                    <p class ="pt-1 pr-2">カテゴリー検索</p>
                    <%= search_form_for @q, url: articles_path, html: { class: "d-flex" } do |f| %>
                     <%= f.collection_select :categories_name_cont, @categories, :name, :name, { include_blank: "全てのカテゴリー" }, { class: 'form-control mr-2' } %>
                     <%= f.submit '検索', class: 'btn btn-primary ml-1' %>
                    <% end %>
                </div>
            </div>
            <div class="article_container">
                <% if @articles.present? %>
                    <% @articles.each do |article| %>
                        <div class="article">
                            <div class="left_contents">
                                <h5>投稿ユーザー名：　<%= article.user.name %></h5>
                                <div class="article_header">
                                    <p class="mt-1">カテゴリー：　<%= article.categories.first.name %></p>
                                    <p>キーワード：　<%= article.keyword %></p>
                                </div>
                                
                                <p class="mt-3 ml-3"><%= safe_join(article.body.split("\n"),tag(:br)) %></p>
                                <%= link_to "この投稿の詳細ページへ", article_path(article)  %>
                            </div>
                            <div class="right_contents">
                                <p>投稿日:　<%= article.created_at.strftime('%Y/%m/%d')  %></p>
                                <div class="img">
                                    <%= image_tag article.photo_url, class: 'photo' %>
                                </div>
                                <% if current_user && article.user_id == current_user.id %>
                                    <div class="d-flex mt-3 ml-5">
                                        <%= link_to edit_article_path(article.id), class: "insert_button" do%>
                                            <div class="btn btn-info  ml-5">編集する</div>
                                        <% end %>
                                        <%= link_to article_path(article.id), class: "insert_button", data: { turbo_confirm: "本当に削除しますか？", turbo_method: :delete} do%>
                                            <div class="btn btn-danger  ml-3">削除する</div>
                                        <% end %>                            
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <div class ="mt-5 text-center">投稿された記事がありません</div>
                <% end %>
           </div>
        </div>
    </div>
    <div>
        <%= render "shared/topics" %>
    </div>
</div>