<%= content_for(:title,'投稿記事作成ページ') %>
<div class="form_container bg-white text-dark">
  <div class="form_box mx-3 my-3">
    <h3 class="mx-3 mt-4">投稿記事の作成</h3>
    <div class="form">
      <div id="flash"></div>
      <%= form_with model: @article do |f| %>
        <%= f.fields_for :article_categories do |article_category| %>
          <div class="category_form">
            <%= article_category.label :カテゴリー, class: "category_label" %>
            <%= article_category.collection_select :category_id, Category.all, :id, :name,{}, { class: "category_name_input" } %>
          </div> 
        <% end %>
        
        <div class="d-flex my-3 mr-5">
          <%= f.label :キーワード, class: "label text-center" %>
          <%= f.text_field :keyword, class: "form-control mr-5", placeholder: "洗剤　部屋干し（必須）"  %>
        </div>

        <div class="d-flex mb-3 mr-5">
          <%= f.label :本文, class: "label text-center" %>
          <%= f.text_area :body, class: "form-control article_body_form mr-5", placeholder: "120文字まで入力できます（必須）", rows: 8 %>
        </div>

        <div class="d-flex mb-3 mr-5">
          <%= f.label :画像, class: "label text-center"  %>
          <%= f.file_field :photo, class: "form-control mr-5", accept: 'image/*' %>
          <%= f.hidden_field :photo_cache %>
        </div>

        <%= f.submit "保存して投稿する", class: "submit_button"%>
      <% end %>
    </div>
  </div>
</div>